@using personalised_concierge_m1.Models.Entities.FoodLeisureServices
@using personalised_concierge_m1.Models.Entities.OtherServices
@using personalised_concierge_m1.Models.Entities.UserDetails
@model dynamic


@{

}

<!DOCTYPE html>
<html>

<body>

    <h1>Trip Planner Specific Item </h1>
    <p>Foodleisure Item Details Display here!</p>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 25rem;">
                    <img src="@Url.Content(@Model.foodLeisure.foodleisure_image)" class="card-img-top"
                        alt="@Model.foodLeisure.name">
                </div>
            </div>
            <div class="col">
                <h1>@Model.foodLeisure.name</h1>
                <h4>@Model.foodLeisure.address </h4>
                <h5>Contact Number: @Model.foodLeisure.contact_num</h5>
                <h5>Visit Reservation Page: <a href="@Model.foodLeisure.website_link">HERE!</a></h5>
                <h6>Email Us: @Model.foodLeisure.email</h6>
                <h6>Opening Hours: @Model.foodLeisure.businessHours</h6>
                <p>Category: @Model.foodLeisure.type</p>
                <p>@Model.foodLeisure.description</p>
                <br />
                <p>Nearest MRT Station: @Model.foodLeisure.nearestMRTStation</p>
            </div>
        </div>
    </div>

    <hr />
    <p>
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Add Your Review
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            @using (Html.BeginForm("SpecificFoodLeisure", "FoodLeisure"))
            {


                @Html.TextArea("Review_Description", new { @cols = "100", @rows = "8", @style = "width:100%;" })

                <br />
                @Html.DropDownList("Ratings",
            new SelectList(Enum.GetValues(typeof(Rating))),
            "Ratings (out of 5)",
            new { @class = "form-control" })

                @Html.Hidden("foodLeisureID", (int)Model.foodLeisure.foodleisure_id)
                <br><br>
                <input type="submit" value="Submit">
            }

        </div>
    </div>
    <hr />


    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Total ratings: @Model.totalrating</h1>
                <h2> Average ratings: @Model.avgrating / 5</h2>
                <hr />
                <div class="review-block">
                    @foreach (Review review in Model.reviews)
                    {
                        @foreach (Account account in Model.accounts)
                        {
                            @if (account.account_id == review.account_id)
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img style="width: 10rem; height: 10rem;" src="@Url.Content(@account.profile_pic)"
                                class="img-rounded">
                                        <div class="review-block-name"><a href="#">@account.full_name</a></div>

                                        <div class="review-block-date">@account.email<br />Posted on: @review.Date</div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h6>Ratings: @review.rating out of Five</h6>

                                        <div class="review-block-title">Review ID: @review.review_id</div>
                                        <div class="review-block-description">@review.review</div>
                                    </div>
                                </div>
                                <br />

                            }


                        }


                    }

                    <hr />
                </div>
            </div>
        </div>

    </div> <!-- /container -->




</body>

</html>
