@using personalised_concierge_m1.Models.Entities.OtherServices

@{
    ViewData["Title"] = "Transport ";
    var transport = (ViewData["Transport"]);
    var transportfare = (ViewData["TransportFare"]);
}

@* <div class="text-center">
    <h1> Transport</h1>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Company Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Transportation atransport in (dynamic) transport)
                {
                    @atransport.company_name;
                }
            </tbody>
        </table>
    </body>
</div> *@
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <style>
    h2
    {
        width: 400px;
        display: inline-block;
    }
    button
    {
        float: right;
    }

    #banner
    {
        padding-bottom: 10px;
    }
    table
    {

         border: 1px solid;
    }

    .popovertest
    {
        display:none;
    } 

</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(function () 
        {
            $(".pop-show").popover
            ({
                html: true,
                trigger: "focus",
                content: function() 
                {
                    return $('.pop-inn').html();
                }
            });
        })

    </script>
    
    <div class="container">
        <div class="row">

        </div>
        
        <div class="row">
            <div class="row" id="banner">
                <h2>Book a transportation</h2> <button>Create new row</button>
            </div>
            
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Taxi Company</th>
                    <th scope="col">Description</th>
                    <th scope="col">Fare Type</th>
                    <th scope="col">Fare Price</th>
                    <th scope="col">Phone Numbers</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
            <tbody>
                @foreach (Transportation atransport in (dynamic) transport)
                {
                    <tr>
                    <td style="display: none;">@atransport.transport_id</td>
                    <td>@atransport.company_name</td>
                    <td>@atransport.description</td>
                    <td></td>
                    <td></td>
                    <td>@atransport.contact_num</td>
                    <td><a href="">IOS</a> | <a href="">Android</a></td>
                    <td><button class="pop-show"data-toggle="popover" data-content="">Show @atransport.company_name</button></td> <! hardcode distance then diplay avg cost />
                    </tr>   

                     foreach ( TransportFares afare in (dynamic) transportfare)
                    {
                        if (atransport.transport_id == afare.transport_id)
                        {
                            <tr>
                            <td></td>
                            <td></td>
                            <td>@afare.fares_type</td>
                            <td>@afare.fares</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                        }
                    }
                    <div class="pop-inn" style="display:none;">
                    
                    @{
                        int tid =  1;
                        string fareType = "Standard";
                        double totalDist = 10.0;

                        
                        foreach(TransportFares bfare in (dynamic) transportfare)
                        { 
                            if(tid == bfare.transport_id)
                            {
                                <p>@bfare.fares_type: @bfare.fares</p>
                            }
                        }
                        <p>Est Cost (@fareType): @estCost(tid, totalDist, fareType)</p>
                        
                        
                    }
                    </div> 
                    @functions
                    {
                        private double estCost(int tid, double totalDist, string fareType)
                        {
                            double cost = 0;
                            double standardFare = 0;
                            double flagDown = 0;
                            double initFare = 0;
                            double costPerDist = 0;
                            double initDist = 0;

                            switch(tid)
                            {
                                case 1:
                                    standardFare = 3.00;
                                    flagDown = 10.00;
                                    initFare = 0.22;
                                    costPerDist = 0.4;
                                    initDist = 10.00;

                                        if(totalDist <= initDist || totalDist > initDist)
                                        {
                                            cost = (totalDist/costPerDist) * initFare;
                                            if(fareType == "Standard")
                                            {
                                                cost += standardFare;
                                            }
                                            else
                                            {
                                                cost += flagDown;
                                            }
                                            
                                        }
                                    break;
                                
                                case 2:
                                    standardFare = 4.00;
                                    initFare = 0.70;
                                            cost = totalDist * initFare;
                                            cost += standardFare;   
                                    break;

                                case 3:
                                    standardFare = 4.00;
                                    flagDown = 10.00;
                                    initFare = 0.24;
                                    costPerDist = 0.4;
                                    double aftCostPerDist = 0.35;
                                    initDist = 10.00;

                                        if(totalDist <= initDist)
                                        {
                                            cost = (totalDist/costPerDist) * initFare;
                                            if(fareType == "Standard")
                                            {
                                                cost += standardFare;
                                            }
                                            else
                                            {
                                                cost += flagDown;
                                            }
                                            
                                        }
                                        else
                                        {
                                            cost = initDist * initFare;
                                            cost += ((totalDist - initDist)/aftCostPerDist) * initFare;
                                            cost = Math.Round(cost,2);
                                            if(fareType == "Standard")
                                            {
                                                cost += standardFare;
                                            }
                                            else
                                            {
                                                cost += flagDown;
                                            }
                                        }
                                    break;
                            }
                            return cost;
                        }
                    }
                }
            </tbody>
            </table>
            
             <p><b>General steps for making a transportation Booking</b></p>
            <ol>
                <li>Download Grab/Confort Del gro app</li>
                <li>Enter destination and pick up point destination</li>
                <li>Choose method of transportation</li>
                <li>Choose method of payment</li>
                <li>Wait for taxi to be assigned, note the car lisence plate number given and estimated time of car arrival</li>
            </ol>
        </div>
    </div>
  </body>