@model personalised_concierge_m1.Models.Entities.Itineraries.Budget

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/budget.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>Budget</h1>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <button type="button" onclick="myFunction()" class="btn btn-info ">+ Add expenses</button>
        </div>
    </div>
    <br />
    <div class="container-fluid bg-light text-dark">
        <div class="row">
            <div class="col-6">
                <h1 id="totalExpensesAmount">@Model.Currency @Model.TotalExpensesAmount</h1>
                <div class="progress">
                    <div class="progress-bar" id="progressBar" role="progressbar" style="width: @Model.BudgetRatio%;" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p id="budgetLabel">Budget: @Model.Currency @Model.Budgetlimit<button class="btn" onclick="budgetModal()"><i class="fa fa-pencil"></i></button></p>

            </div>
            <div class="col pt-2">
                <button type="button" onclick="openExpenseSettingModal()" class="btn btn-info">Settings</button>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Expenses</h3>
            </div>
        </div>
    </div>
    <div class="expensesList">
        @foreach (personalised_concierge_m1.Models.Entities.Itineraries.Expenses expenses in Model.ExpensesList)
        {
            <div class="card">
                <div class="card-body">
                    <form class="d-flex justify-content-between" asp-action="deleteExpenses" onsubmit="return this.parentNode.parentNode.remove();">
                        <div>
                            <h5 class="card-title"><b>@expenses.Category</b></h5>
                            <p class="card-text">@expenses.Description</p>
                        </div>
                        <div class="text-center">
                            <h5><b class="card-text">@expenses.Currency @expenses.Amount</b></h5>
                            <button type="submit" onclick="doDelete(@expenses.ExpensesId)" class="btn shadow-none"><i class="fa fa-trash"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Expenses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="currencyBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Currency</button>
                            <div class="dropdown-menu" style="overflow-y: auto; height: 200px;">
                                <a class="dropdown-item" onclick="myFunction1(this)" href="#">SGD</a>
                                <a class="dropdown-item" onclick="myFunction1(this)" href="#">CNY</a>
                                <a class="dropdown-item" onclick="myFunction1(this)" href="#">EUR</a>
                                <a class="dropdown-item" onclick="myFunction1(this)" href="#">JPY</a>
                                <a class="dropdown-item" onclick="myFunction1(this)" href="#">MYR</a>
                                <a class="dropdown-item" onclick="myFunction1(this)" href="#">USD</a>
                                <input type="text" hidden id="currencyField" class="form-control" aria-label="Text input with dropdown button">
                            </div>
                        </div>

                        <input type="number" placeholder="Enter Amount.." id="amountField" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                    <p>Select a category</p>
                    <div class="container">
                        <div class="form-row">
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Flights</button>
                            </div>
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Lodging</button>
                            </div>
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Car Rental</button>
                            </div>
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Transport</button>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Food</button>
                            </div>
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Drinks</button>
                            </div>
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">SightSeeing</button>
                            </div>
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Activities</button>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Shopping</button>
                            </div>
                            <div class="col-3 mb-2 px-1">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Gas</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Groceries</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary btn-block" onclick="categoryClick(this)" type="button">Others</button>
                            </div>
                        </div>
                        <input type="text" hidden value="Hello123" id="categoryField" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Add description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="addExpenses()" class="btn btn-info rounded-pill mt-3">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Expense Setting Modal -->
    <div class="modal fade" id="expenseModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select Currency</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select data-live-search="true" class="form-control" id="sel1" onchange="selectCurrency();">
                            <option value="SGD">Singapore Dollar</option>
                            <option value="CNY">Chinese Yuan</option>
                            <option value="EUR">Euro</option>
                            <option value="JPY">Japanese Yen</option>
                            <option value="MYR">Malaysian Ringgit</option>
                            <option value="USD">US Dollar</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="budgetModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Set Budget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="number" placeholder="Enter Amount.." id="budgetField" class="form-control" aria-label="Text input with dropdown button">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" onclick="setBudget()" class="btn btn-info rounded-pill mt-3">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
        function selectCurrency() {
            var selectBox = document.getElementById("sel1");
            var selectedValue = String(selectBox.options[selectBox.selectedIndex].value);
            $.ajax({
                type: "POST",
                url: '@Url.Action("updateSelectedCurrency", "Budget")',
                data: {
                    currency: selectedValue,
                    Name: "333"
                },
                dataType: 'json',
                success: function (result) {
                    var obj = JSON.parse(result);
                    document.getElementById("budgetLabel").innerHTML = "Budget: " + obj.currency + " " + obj.budgetLimit + "<button class='btn' onclick='budgetModal()'><i class='fa fa-pencil'></i></button>";
                    document.getElementById("totalExpensesAmount").innerHTML = obj.currency + " " + obj.currentAmount;
                      //You can also not pop up a prompt box.You could code anything what you want
                }
            })
        }

    function addExpenses() {
            var currency = String(document.getElementById("currencyField").value);
            var amount = parseInt(document.getElementById("amountField").value);
            var category = String(document.getElementById("categoryField").value);
        var description = String(document.getElementById("exampleFormControlTextarea1").value);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddExpenses", "Budget")',
                data: {
                    currency: currency,
                    amount: amount,
                    category: category,
                    description: description
                },
                dataType: 'json',
                success: function (result) {
                    var obj = JSON.parse(result);
                    document.getElementById("totalExpensesAmount").innerHTML = obj.currencyHeading + " " + obj.currentAmount;
                    document.getElementById("progressBar").style.width = obj.progressBar + "%";
                    var task = $("<div class='card'><div class='card-body'><form class='d-flex justify-content-between' asp-action='deleteExpenses' onsubmit='return this.parentNode.parentNode.remove();'><div><h5 class='card-title'><b>" + obj.Category + "</b></h5><p class='card-text'>" + obj.Description + "</p></div><div class='text-center'><h5><b class='card-text'>" + obj.expensesCurrency + ' ' + obj.Amount + "</b></h5><button type='submit' onclick='doDelete(" + obj.expensesId +")' class='btn shadow-none'><i class='fa fa-trash'></i></button></div></form></div></div>");
                    $(".expensesList").append(task);
                    updateProgressColor()
                      //You can also not pop up a prompt box.You could code anything what you want
                }
            })
        }

       function doDelete(Id){
            $.ajax({
                type: "POST",
                url: '@Url.Action("deleteExpenses", "Budget")',
                data: {
                    Id: Id,
                    Name: "333"
                },
                dataType: 'json',
                success: function (result) {
                    var obj = JSON.parse(result);
                    document.getElementById("totalExpensesAmount").innerHTML = obj.Currency + " " + obj.currentAmount;
                    document.getElementById("progressBar").style.width = obj.progressBar + "%";
                    updateProgressColor();
                      //You can also not pop up a prompt box.You could code anything what you want
                }
            })
    }

        function setBudget() {
        var budget = parseFloat(document.getElementById("budgetField").value);
        $.ajax({
            type: "POST",
            url: '@Url.Action("setBudget", "Budget")',
            data: {
                budgetid: 0,
                budgetLimit: budget
            },
            dataType: 'json',
            success: function (result) {
                var obj = JSON.parse(result);
                document.getElementById("budgetLabel").innerHTML = "Budget: " + obj.currency + " " + obj.budgetLimit + "<button class='btn' onclick='budgetModal()'><i class='fa fa-pencil'></i></button>";
                document.getElementById("progressBar").style.width = obj.progressBar + "%";
                updateProgressColor();
                //You can also not pop up a prompt box.You could code anything what you want
            }
        })
    }

    function categoryClick(buttonString) {
        document.getElementById("categoryField").value = buttonString.innerHTML;
    }

    function myFunction() {
        $("#myModal").modal('show');
    }

    function openExpenseSettingModal() {
        $("#expenseModal").modal('show');
    }

    function budgetModal() {
        $("#budgetModal").modal('show');
    }

    function myFunction1(currencyString) {
        document.getElementById("currencyBtn").innerText = currencyString.innerText;
        document.getElementById("currencyField").value = currencyString.innerHTML;
    }

    $(document).ready(function () {
        updateProgressColor();
    });

    function updateProgressColor() {
        percent = document.getElementById("progressBar").style.width;
        var value = percent.replace('%', '');
        percentage = parseInt(value)
        if (percentage >= 100) {
            document.getElementById("progressBar").style.backgroundColor = "red";
        } else {
            document.getElementById("progressBar").style.backgroundColor = "blue";
        }
    }

</script>
