@model IEnumerable<personalised_concierge_m1.Models.Entities.Attraction.Attraction>
@{
    ViewData["Title"] = "ViewDetails";
}

<h1>Details</h1>
<div>
    <h4>FoodEvents</h4>
    <hr />
    @* <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attraction_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(model => model.attraction_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attraction_dist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(model => model.attraction_location)
        </dd>
    </dl>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.attraction_id)
            </td>
        </tr>
    } *@
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>